/* Estilo do header */
@import 'styles.css';

header .link-logo {
    display: block;
    padding: 20px 25px;
    border-bottom: 1px solid #25cbd3;
    background-color: var(--bg4);
}

.link-logo img {
    width: 50px;
    
}

header.cabecalho ul {
    padding: 0;
    text-align: center;
}

header.cabecalho ul li {
    display: inline-block;
}

header.cabecalho ul li:not(:last-child) {
    margin-right: 15px;
}

.menu li a {
    color: var(--white);
    text-decoration: none;
}

.menu li a:hover {
    color: #25cbd3;
    text-decoration: underline;
}

.botoes-navegacao.escondido {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.botoes-navegacao {
    position: fixed; /* Torna os botões fixos na tela */
    top: 50%; /* Posiciona os botões no meio vertical da tela */
    transform: translateY(-50%); /* Compensa a metade da altura dos botões */
    right: 20px; /* Distancia os botões 20px da borda direita */
    z-index: 100; /* Garante que os botões fiquem acima de outros elementos */
    opacity: 1;
}

.btn-navegacao {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-navegacao:hover {
    background-color: #0056b3;
}

.botoes-navegacao img {
    width: 25px;
}

@media screen and (min-width:992px) {
    header {
        position: relative;
    }
    .menu {
        position: absolute;
        right: 2%;
        top: 18%;
    }
}

@media screen and (max-width: 991px) {
    .menu li a {
        color: var(--black);
    }
}