/* Estilo da página Portfolio */

.pagina {
    display: block;
    align-items: center;
    margin: 1%;
    gap: 25px;
}

.projeto {
    display: flex;
    align-items: center;
    margin: 1%;
    gap: 25px;
    flex-wrap: wrap; /* Adicionado */
}

.logica {
    position: relative;
    border: 1px solid #25cbd3;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 300px; /* Adicionado */
}

.logica img {
    width: 100%; /* Alterado */
    height: auto; /* Adicionado */
    border: 1px solid #0a0a0a;
    border-radius: 8px;
}

.logica figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.logica:hover figcaption {
    opacity: 1;
}

a.link {
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .logica {
        width: calc(50% - 20px); /* Adicionado */
        margin: 10px; /* Adicionado */
    }
}
