/* Estilos gerais */
:root{
    --bg1: #f0f0f0;
    --bg2: #e0e0e0;
    --bg3: #d0d0d0;
    --bg4: #333;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #25cbd3;
    --green: #3bd42d;
    --purple-200: #A369FF;

    --html: #DB4E26;
    --css: #2862EA;
    --js: #E2C431;
    --wp: #207196;

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.projetos {
    background-color: #f8f9fa;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-projeto {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

.card-projeto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1
    border-radius: 10px;
}

.card-projeto .texto-card {
    margin-top: 20px;
}

.card-projeto .texto-card h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-projeto .texto-card p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.card-projeto .texto-card .btn {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-projeto .texto-card .btn:hover {
    background-color: #0056b3;
}

.contato {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
}

.contato h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contato form {
    max-width: 500px;
    margin: 0 auto;
}

.contato .campo {
    margin-bottom: 20px;
}

.contato .campo label {
    display: block;
    margin-bottom: 5px;
}

.contato .campo input,
.contato .campo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato .campo textarea {
    height: 150px;
    resize: vertical;
}

.contato .campo .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contato .campo .btn:hover {
    background-color: #0056b3;
}

.rodape {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.rodape p {
    margin-bottom: 10px;
}

.rodape ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rodape li {
    display: inline-block;
    margin-right: 15px;
}

.rodape a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.rodape i {
    margin-right: 5px;
}
